PRIVATE_KEY=0xyour_deployer_private_key
POLYGON_RPC=https://polygon-rpc.com
AMOY_RPC=https://rpc-amoy.polygon.technology
POLYGONSCAN_API_KEY=your_polygonscan_api_key
USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
TREASURY_ADDRESS=0x0000000000000000000000000000000000000000
REPORT_GAS=false
